body{
    background-color:rgb(160, 138, 173); 
    text-align: center;
} 
.toolbar {
    background-color: rgb(126, 110, 127);
    padding: 15px;
    text-align: left;
    font-size: 20px;
}
.title{
    color:rgb(56, 123, 182);
}
.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image p{
    color: rgb(66, 9, 68);
    font-family: serif;
    max-width: 14%;
}
h1{
    font-family:monospace;
}
.ban{
   position: absolute; bottom: 50px;
}