
body{
    background-color:rgb(160, 138, 173); 
    text-align: center;
} 
.toolbar {
    background-color: rgb(57, 57, 57);
    padding: 15px;
    text-align: left;
    font-size: 15px;
}
.title{
    color:rgb(122, 179, 230);
}
.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image p{
    color: rgb(26, 26, 26);
    font-family: serif;
    max-width: 14%;
}
h1{
    font-family:monospace;
}
.ban{
    top: 80px; justify-content: center;
}