
.searchBox {
    width: 80%;
    border: 0px;
    background-color: rgb(204, 192, 241);
    border-radius: 12px;
    display: flex;
    margin: 10px auto;
}
.searchBar {
    width: 80%;
    padding: 12px;
    box-sizing: border-box;
    border: 0px;
    background-color: rgb(204, 192, 241);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.swapLang{
    background-color: rgb(200, 182, 255);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left-color: black;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding: 11px 20px;
    font-size: 16px;
    cursor: help;
    flex: auto;
}
.searchBar:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(134, 107, 243);
}
body{
    background-color:rgb(160, 138, 173); 
    text-align: center;
} 
.toolbar {
    display: flex;
    background-color: rgb(126, 110, 127);
    padding: 15px;
    text-align: left;
    font-size: 20px;
    align-items: center;
    gap: 10px;
}
.toolbar a{
    color: rgb(191, 191, 191);
    text-decoration: none;
    font-family: monospace;
    font-weight: 500;
}
.toolbar img{
    height: 35px;
}
.title{
    color:rgb(56, 123, 182);
}
.imageBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.imageBox p{
    color: rgb(66, 9, 68);
    font-family: serif;
    max-width: 14%;
}
h1{
    font-family:monospace;
}
.ban{
   position: absolute; bottom: 50px;
}
.wrap{
    width: 75%;
    background-color: rgb(173 153 174);
    border: rgb(126, 110, 127) solid 2px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 2%;
    margin-bottom: 10px;
}
.wordTitle{
    margin: 3px
}
.trans{
    margin: 1px;
    display: flex;
    justify-content: left;
    white-space: break-spaces;
    text-align: left;
}
.wrap2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3%;
}
.exam {
    flex: auto;
    width: 60%;
    text-align: left;
    white-space: break-spaces;
}
.images{
    flex: auto;
    width: 20%;
}
.tags {
    text-align: left;
    display: block;
    font-size:.75em;
    color: rgb(114, 114, 114);
    padding: 3%;
}
.resultHolder{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}
